.home {
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("frontpage.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.home-buttons {
  margin-top: 20px;
}

.home-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.book-preview {
  margin-top: 20px;
}

.book-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.book-card {
  width: 100px;
  text-align: center;
}

.book-cover {
  width: 100%;
  border-radius: 6px;
}

body{
  background-image: url("pages.jpeg");
  cursor: url('cursor.png') 0 0, auto;
}

* {
  /* cursor: url('cursor.png') 0 0, auto; */
}
/* Home.css */
/* .home {
  background-image: url("images/frontpage.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
